<app-navbar></app-navbar>
<section class="container mt-3">
  <div class="row">
    <div class="col-md-12">

      <div class="card">

        <div class="card-body">
          <div class="text-primary font-weight-bold mb-1">{{event.sport}}</div>
          <h1 class="card-title mb-0">{{event.name}}</h1>
          <p class="card-text mt-0 mb-0">Date: {{ event.date | date:'medium' }}</p>
          <p class="card-text mt-0 mb-0">Organizer: {{ event.creator }}</p>
          <p class="card-text mt-0 mb-0">Location: {{ event.location }}</p>
          <p class="card-text mt-2 mb-0">{{event.description}}</p>
        </div>

      </div>

    </div>

  </div>

</section>
