<app-navbar></app-navbar>

<div class="userlist">

  <div class="container">
    <h1>Players</h1>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Players">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef> Username </th>
        <td mat-cell *matCellDef="let element"> {{element.userName}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr class="userrow" mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/user']"
        [queryParams]="{userName: row.userName}"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10]"></mat-paginator>
  </div>
</div>
