<app-navbar></app-navbar>
<div class="container eventlist">
  <h1>Events</h1>

  <a
    role="button"
    [routerLink]="['/newevent']"
    routerLinkActive="router-link-active"
    class="btn btn-lg btn-secondary mb-2 addbutton"
    >+</a
  >

  <mat-form-field>
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="Filter Events"
    />
  </mat-form-field>

  <div class="mat-elevation-z8 mb-4">
    <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>

      <ng-container matColumnDef="sport">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sport</th>
        <td mat-cell *matCellDef="let row">{{ row.sport }}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let row">
          {{ row.date.getUTCFullYear() }}-{{ row.date.getUTCMonth() }}-{{
            row.date.getUTCDate()
          }}
        </td>
      </ng-container>

      <ng-container matColumnDef="deadline">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Deadline</th>
        <td mat-cell *matCellDef="let row">
          {{ row.deadline.getUTCFullYear() }}-{{
            row.deadline.getUTCMonth()
          }}-{{ row.deadline.getUTCDate() }}
        </td>
      </ng-container>

      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
        <td mat-cell *matCellDef="let row">{{ row.location }}</td>
      </ng-container>

      <ng-container matColumnDef="distance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Distance</th>
        <td mat-cell *matCellDef="let row">{{ row.distance }} km</td>
      </ng-container>

      <ng-container matColumnDef="join">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <a
            *ngIf="row.deadline > currentDate; else: deadlineexpired"
            [routerLink]="['/join']"
            [queryParams]="{ eventID: row.eventID }"
            routerLinkActive="router-link-active"
            class="btn btn-primary"
            >Join</a
          >
          <ng-template #deadlineexpired
            ><span class="bg-danger">Deadline Expired</span></ng-template
          >
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let row"
          [attr.colspan]="displayedColumns.length"
        >
          <div
            class="event-detail"
            [@detailExpand]="row == expandedEvent ? 'expanded' : 'collapsed'"
          >
            <p>{{ row.description }}</p>
            <div id="map"></div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="eventrow"
        [class.expanded-row]="expandedEvent === row"
        (click)="expandedEvent = row; setMap()"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="event-detail-row"
      ></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]"></mat-paginator>
  </div>
</div>
