h1{
  margin-bottom: 4%;
  margin-top: 5%;
  margin-left: 5%;
}

#eventtable {
  max-height: 50%;
  margin-left: 30px;
  margin-right: 30px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

#map {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: auto;
}

