<div class="container">
  <a href="index.html" class="btn btn-info btn-lg toprightbutton" role="button"
     aria-pressed="true">Login</a>

  <div class="text-center">
      <form action="/" class="form-signin">
          <div class="form-group">
              <i class="fas fa-users fa-7x"></i>
              <h2 class="form-signin-heading">Registration</h2>
          </div>

          <div class="form-group">
              <label for="inputEmail" class="sr-only">Email address</label>
              <input type="text" id="inputUserName" class="form-control" placeholder="Username" required autofocus>
          </div>

          <div class="form-group">
              <label for="inputEmail" class="sr-only">Email address</label>
              <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required >
          </div>

          <div class="form-group">
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
          </div>
          <button id="signin" class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>

      </form>
  </div>

</div>
